.car-card{
 
    background:white;
 
    border-radius:12px;
 
    overflow:hidden;
 
    box-shadow:0 5px 20px rgba(0,0,0,.1);
 
    transition:.3s;

}
 
.car-card:hover{
 
    transform:translateY(-8px);

}
 
.car-card img{
 
    width:100%;
 
    height:220px;
 
    object-fit:cover;

}
 
.card-content{
 
    padding:20px;

}
 
.card-content h3{
 
    margin-bottom:10px;

}
 
.card-content p{
 
    color:gray;
 
    margin-bottom:15px;

}
 
.card-content h2{
 
    color:#e63946;
 
    margin-bottom:15px;

}
 
.card-content button{
 
    width:100%;
 
    padding:12px;
 
    border:none;
 
    background:#111827;
 
    color:white;
 
    border-radius:8px;
 
    cursor:pointer;

}
 
.card-content button:hover{
 
    background:#f59e0b;
 
    color:black;

}
 